<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".DemoApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="AwPaddleOcr Demo"
        android:theme="@style/Theme.AwPaddleOcrDemo">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GalleryOcrActivity"
            android:exported="false" />

        <activity
            android:name=".CameraOcrActivity"
            android:exported="false" />

        <activity
            android:name=".MarkOcrActivity"
            android:exported="false" />

        <activity
            android:name=".AdvancedApiActivity"
            android:exported="false" />
    </application>
</manifest>
